@{
  ViewData["Title"] = "Home Page";
}

<script type="text/javascript">

  function onExcelDownloadClick() {
  $.ajax({
  type: "GET",
  data: { input: "テストシート" },
  contentType: "application/json; charset=utf-8",
  // まずはファイル生成
  url: '@Url.Action("ExportExcel","Home")',
  beforeSend: function () { startLoad(); },
  success: function (res) { window.location = '/Home/Download?filename=' + res.fileName; },
  complete: function () { endLoad(); }
  });
  }

  function startLoad() {
  $("#btnExcel").text("ダウンロード中…");
  $("#btnExcel").attr('disabled', true);
  }

  function endLoad() {
  $("#btnExcel").text("download excel");
  $("#btnExcel").attr('disabled', false);
  }
</script>

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

  <button id="btnExcel" onclick="onExcelDownloadClick()">download excel</button>
</div>
